.weather-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 90%;
    background-color: #f0f8ff;
    margin: 20px auto; 
    
}
.weather-info-box {
    width: 300px; 
    padding: 0px 0px 0px 30px; 
    margin: 20px; 
    background-color: #f0f8ff; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex; 
    justify-content: left;
    align-items: center; 
    
}

.weather-info {    
    text-align: left; /* Căn giữa nội dung trong weather-info */
    color: #333; /* Màu chữ tối */
    font-size: 120%;
}
.weather-app {
    font-family: Arial, sans-serif;
    
    margin-top: 50px;
    text-align: center; /* Căn giữa nội dung trong weather-info */
    color: #333; /* Màu chữ tối */
}


.weather-info img {
    width: 100px;
    height: 100px;
}

input {
    padding: 8px;
    margin-right: 10px;
   
}

button {
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.weather-additional-info{
    
    text-align: left; /* Căn giữa nội dung trong weather-info */
    color: #333; /* Màu chữ tối */
    font-size: 100%;
      
}
form {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    
}
.weather-additional-info-box{
    width: 300px; 
    padding: 0px 0px 0px 30px;
    margin-left: 0px; 
    background-color: #f0f8ff; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex; 
    justify-content: left;
    align-items: center; 
}
